 
 <%= stylesheet_link_tag   "add_user" %> 

<div class ="form-signin">
<%= form_for (@user) do |f| %>

	<div class="form-group">
		<h3 class="form-signin-heading">New fighter</h3>
		<%= f.text_field :user_id, :class => "form-control", :placeholder => "User id or nickname" %>
	
		<%= f.submit(:class => "btn btn-lg btn-primary btn-block", :value => "Create fighter") %>
	</div>

<% end %>

</div>