

<div class="thumbnail">
	        		<div class="crop">
	        			<img src ="<%= photo %>" />
	        		</div>
	        		<div class="caption">
	        			<h3> Выбери меня! </h3>
	        			<p class = "firstName"> <%= user.firstName %> </p>
	        			<p class = "lastName"> <%= user.lastName %> </p>
	        			<p><a href="#" class="btn btn-primary" onclick="fun()">Button</a></p>
	        		</div>
	        	</div>