<div class="navbar navbar-inverse" role="navigation"> 
		<ul class="nav navbar-nav">
			<li><%= link_to "Home", pages_home_path %></li>
			<li><%= link_to "About", pages_about_path %></li>
			
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Add new user", new_user_path  %></li>
		</ul>
</div> 