<%=stylesheet_link_tag "user_smasher" %>
<div class = "container-narrow" >
<div class="jumbotron">
  
        <h1><%=@users.count > 1 ? "Fight" : "Oops!"%></h1>
        <div class = "row">
          <% if @users.count  > 1 %> 
            <% @users.each_with_index do |user, index| %>
        	   <div class ="col-md-6 col-md-3" >
    	        	<%= render user , :user => user, :photo => @photos[index]%>
	           </div>
            <% end %>
          <% else %> 
              <p> Очень мало контента, пожалуйста, добавьте нового пользователя </p>
                  <p><%=link_to "Add user", new_user_path, :class => "btn btn-primary" %></p>
          <% end %>
        </div>
</div>
</div>